---
import Section from "../Section.astro";
import type { CVData, Locale } from "@lib/cv";
import { labels } from "@lib/cv";

interface Props {
  data: CVData;
  lang: Locale;
}

const { data, lang } = Astro.props;
const t = labels[lang];
const { summary } = data.basics;
---

<Section title={t.about}>
  <div class="space-y-2 text-justify text-[13px] leading-relaxed text-gray-700">
    {summary.split("\n\n").map((para) => <p>{para}</p>)}
  </div>
</Section>
